/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-color: 255, 0, 112;
  --focus-color: 219, 0, 255;
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: 0, 0, 40;
  --quest-text-color: 241, 178, 206;
}

:root.theme-dark .header__theme-menu-button_type_dark {
  border: 1px solid rgb(var(--main-color));
}
    /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */