/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url('../images/cover-image-dark.png');
  --main-color: 255, 0, 112;
  --focus-color: 219, 0, 255;
  --bg-color: 0, 0, 40;
  --quest-text-color: 241, 178, 206;

  .decorated-zone::after {
    border-right: 1px solid rgb(var(--main-color));
    border-top: 1px solid rgb(var(--main-color));
  }

  .decorated-zone::before {
    border-left: 1px solid rgb(var(--main-color));
    border-bottom: 1px solid rgb(var(--main-color));
  }

  .header__decoration-text {
    display: block;
  }

  .header__theme-menu-button {
    color: rgb(var(--main-color));
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(var(--main-color), 0.4);
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid rgb(var(--main-color));
  }

  .header__theme-menu-button_type_dark {
    border: 1px solid rgb(var(--main-color));
  }

  .title-decor {
    color: rgb(var(--bg-color));
  }
    /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

@media (prefers-color-scheme: dark) {
  :root.theme-dark {
    --bg-image: url('../images/cover-image-dark.png');
    --main-color: 255, 0, 112;
    --focus-color: 219, 0, 255;
    --bg-color: 0, 0, 40;
    --quest-text-color: 241, 178, 206;

    .decorated-zone::after {
      border-right: 1px solid rgb(var(--main-color));
      border-top: 1px solid rgb(var(--main-color));
    }

    .decorated-zone::before {
      border-left: 1px solid rgb(var(--main-color));
      border-bottom: 1px solid rgb(var(--main-color));
    }

    .header__decoration-text {
      display: block;
    }

    .header__theme-menu-button {
      color: rgb(var(--main-color));
    }

    .header__theme-menu-button:hover {
      border: 1px solid rgba(var(--main-color), 0.4);
    }

    .header__theme-menu-button:focus-visible {
      border-bottom: 1px solid rgb(var(--main-color));
    }

    .header__theme-menu-button_type_dark {
      border: 1px solid rgb(var(--main-color));
    }

    .title-decor {
      color: rgb(var(--bg-color));
    }
  }
}