:root.theme-light {
  --main-color: 255, 141, 203;
  --second-color: 53, 52, 48;
  --focus-color: 255, 194, 230;
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: 255, 241, 247;
  --title-color: 53, 52, 48;
  --quest-text-color: 53, 52, 48;
}

:root.theme-light .header__decoration-text {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: 255, 141, 203;
    --second-color: 53, 52, 48;
    --focus-color: 255, 194, 230;
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: 255, 241, 247;
    --title-color: 53, 52, 48;
    --quest-text-color: 53, 52, 48;
  }

  :root:not(.theme-dark):not(.theme-light) .header__decoration-text {
    display: none;
  }
}