/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-color: 255, 141, 203;
  --focus-color: 255, 194, 230;
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: 255, 241, 247;
  --quest-text-color: 53, 52, 48;
}

:root.theme-light .header__decoration-text {
  display: none;
}

:root.theme-light .header__theme-menu-button {
  color: rgb(var(--quest-text-color));
}

:root.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgba(var(--quest-text-color), 0.4);
}

:root.theme-light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid rgb(var(--quest-text-color));
}

:root.theme-light .header__theme-menu-button_type_light {
  border: 1px solid rgb(var(--quest-text-color));
}

:root.theme-light .title-decor {
  color: rgb(var(--quest-text-color));
}

:root.theme-light .question__title {
  color: rgb(var(--quest-text-color));
}
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

@media (prefers-color-scheme: light) {
  :root {
    --main-color: 255, 141, 203;
    --focus-color: 255, 194, 230;
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: 255, 241, 247;
    --quest-text-color: 53, 52, 48;
  }

  .header__decoration-text {
    display: none;
  }

  .header__theme-menu-button {
    color: rgb(var(--quest-text-color));
  }
  
  .header__theme-menu-button:hover {
    border: 1px solid rgba(var(--quest-text-color), 0.4);
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid rgb(var(--quest-text-color));
  }

  .header__theme-menu-button_type_light {
    border: 1px solid rgb(var(--quest-text-color));
  }

  .title-decor {
    color: rgb(var(--quest-text-color));
  }

  .question__title {
    color: rgb(var(--quest-text-color));
  }
}