/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-color: 255, 141, 203;
  --focus-color: 255, 194, 230;
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: 255, 241, 247;
  --quest-text-color: 53, 52, 48;
}

:root.theme-light .header__decoration-text {
  display: none;
}

:root.theme-light .header__theme-menu-button,
:root.theme-light .header__theme-menu-button_type_auto,
:root.theme-light .question__title,
:root.theme-light .header__theme-menu-button:hover,
:root.theme-light .header__theme-menu-button:focus-visible,
:root.theme-light .decorated-zone::after,
:root.theme-light .decorated-zone::before {
  --main-color: 53, 52, 48;
}

:root.theme-light .title__decor {
  --bg-color: 53, 52, 48;
  }
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

@media (prefers-color-scheme: light) {
  :root {
    --main-color: 255, 141, 203;
    --focus-color: 255, 194, 230;
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: 255, 241, 247;
    --quest-text-color: 53, 52, 48;
  }

  :root .header__decoration-text {
    display: none;
  }

  :root .header__theme-menu-button,
  :root .header__theme-menu-button_type_auto,
  :root .header__theme-menu-button:hover,
  :root .header__theme-menu-button:focus-visible,
  :root .question__title,
  :root .decorated-zone::after,
  :root .decorated-zone::before {
    --main-color: 53, 52, 48;
  }

  :root .title__decor {
    --bg-color: 53, 52, 48;
  }
}