/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(var(--bg-color));
  max-inline-size: 1024px;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: grid;
  grid-template-rows: 200px auto 100px;
  padding-block: 20px 134px;
  padding-inline-end: 20px;
  position: relative;
  font-weight: 700;
  block-size: 100dvh;
  min-block-size: 768px;
  margin-block-end: 54px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  aspect-ratio: 1;
  border-right: 1px solid rgb(var(--main-color));
  border-top: 1px solid rgb(var(--main-color));
  top: 20px;
  right: 20px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  aspect-ratio: 1;
  border-left: 1px solid rgb(var(--main-color));
  border-bottom: 1px solid rgb(var(--main-color));
  left: 20px;
  bottom: 20px;
}

.header__theme-menu {
  justify-self: center;
  margin-inline-start: 20px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  color: rgb(var(--main-color));
  border: transparent;
  text-transform: lowercase;
  font-family: var(--main-family);
  font-weight: 400;
  font-size: var(--normal-text);
  line-height: 1;
  padding: 0px 13px;
  width: 70px;
  height: 26px
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(var(--main-color), 0.4);
}

.header__theme-menu-button:focus {
  text-decoration: none;
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid rgb(var(--main-color));
}

.header__theme-menu-button_active {
    pointer-events: none;
}

.header__accent {
  font-family: var(--main-family);
  font-size: var(--big-text);
  line-height: 0.83;
  color: rgb(var(--focus-color));
  text-shadow: 4px 4px 0 rgb(var(--main-color));
  align-self: center;
}

.title-decor {
  font-family: var(--main-family);
  font-size: var(--normal-text);
  line-height: 1.3;
  color: rgb(var(--bg-color));
  background-color: rgb(var(--main-color));
}

.header__text {
  max-inline-size: 491px;
  max-block-size: 70px;
  align-self: center;
  justify-self: end;
}

.header__decoration-text {
  position: absolute;
  font-family: var(--main-family);
  font-weight: 400;
  font-size: var(--normal-text);
  line-height: 1.39;
  text-align: center;
  color: rgb(var(--main-color));
  top: 18px;
  right: 29px;
}

.header__decoration-text::after {
  content: "";
  block-size: 9px;
  aspect-ratio: 1;
  background-color: rgb(var(--main-color));
  display: inline-block;
  border-radius: 50%;
  margin-inline-start: 10px;
}

.content {
  padding-inline: 20px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--normal-text);
  line-height: 1.3;
  color: rgb(var(--main-color));
}

.text-link {
  text-shadow: 1px 1px 0 rgb(var(--main-color));
  text-decoration: none;
}

.text-link:hover {
  border-bottom: 1px solid rgb(var(--quest-text-color))
}

.text-link:focus {
  text-decoration: none;
  border: none;
}

.text-link:focus-visible {
  border: 1px solid rgb(var(--quest-text-color));
}

.questions {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.questions:not(:last-child) {
  margin-block-end: 80px;
}

.questions:last-child {
  margin-block-end: 50px;
}

.question__title {
  font-family: var(--main-family);
  font-size: inherit;
  max-inline-size: 315px;
}

.question__card {
  font-family: var(--main-family);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question__card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.question__card-text {;
  color: rgb(var(--quest-text-color));
  font-weight: 400;
}

.question-what {
  grid-template-columns: initial;
  grid-template-rows: repeat(auto, fit-content);
}

.question-what__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
}

.question__card-subtitle {
  font-weight: 400;
}

.question-gallery {
  grid-template-columns: initial;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: auto;
  gap: 20px;
}

.gallery__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.sunset {
  grid-column: span 2;
  grid-row: span 1;
}

.ice-cream {
  grid-column: span 1;
  grid-row: span 2;
}

.tape {
  grid-column: span 1;
  grid-row: 2 / span 2;
}

.books {
  grid-column: span 1;
  grid-row: span 1;
}

.street {
  grid-column: span 2;
  grid-row: span 1;
}

.footer {
  position: relative;
  block-size: 100dvh;
  min-block-size: 768px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer__text {
  font-family: var(--main-family);
  font-size: var(--big-text);
  font-weight: 700;
  line-height: 0.83;
  color: rgb(var(--focus-color));
  text-shadow: 2px 2px 0 rgb(var(--main-color));
}

@media (width <= 768px) {
  .header {
    margin-block-end: 60px;
    min-block-size: 1024px;
    grid-template-rows: 267px auto 220px;
  }

  .header__theme-menu {
    align-self: end;
    justify-self: end;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__text {
    max-inline-size: 364px;
    max-block-size: 117px;
  }

  .header__accent {
    margin-block-start: 65px;}

  .question__title {
    max-inline-size: 236px;
  }

  .question-what__card-list {
    grid-template-columns: initial;
  }

  .questions:last-child {
    margin-block-end: 60px;
  }

  .footer {
    min-block-size: 1024px;
  }
}

@media (width <= 375px) {
  .header {
    padding-inline: 10px;
    min-block-size: 668px;
    margin-block-end: 40px;
    padding-block-start: initial;
  }

  .header__theme-menu {
    align-self: center;
  }

  .content {
    padding-inline: 10px;
  }

  .questions {
    grid-template-columns: initial;
  }

  .question__title {
    max-inline-size: 100%;
  }

  .questions:not(:last-child) {
    margin-block-end: 50px;
  }

  .questions:last-child {
    margin-block-end: 40px;
  }

  .gallery {
    grid-template-columns: initial;
    grid-template-rows: initial;
    gap: 10px;
  }

  .gallery__item {
    width: 100%;
    height: auto;
    grid-row: initial;
    grid-column: initial;
  }

  .footer {
    min-block-size: 668px;
  }
}