/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-family: 'IBM Plex Mono', monospace;
  --main-color: 255, 0, 112;
  --focus-color: 219, 0, 255;
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: 0, 0, 40;
  --quest-text-color: 241, 178, 206;
  --big-text: clamp(116px, 0.5625rem + 14.45vw, 157px);
  --normal-text: 18px;
  
}