/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-family: 'IBM Plex Mono';
  --bg-image: url('../images/cover-image-light.png');
  --main-color: 255, 141, 203;
  --focus-color: 255, 194, 230;
  --bg-color: 255, 241, 247;
  --quest-text-color: 53, 52, 48;
  --big-text: clamp(116px, 0.5625rem + 14.45vw, 157px);
  --normal-text: 18px;
  
}